* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


body {
  font-family: "Helvetica";
  text-align: center;
  // padding: 50px 20px 0;
  background: #B1AE9D;
  color: #444;
  margin: 0;
}

.fullscreen {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  &:first-child {
    background: #fff;
  }
}
