* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


body {
  font-family: "Helvetica";
  text-align: center;
  // padding: 50px 20px 0;
  background: #DCC890;
  background-image: url("./white-leather.png")
  color: #444;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: #444;
}

.fullscreen {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 60px;
  border-radius: 3px;
  &:first-child {
    background: hsla(44,20%,98%,1);
    margin-bottom: 40px;
    background-image: url("./notebook.png")
    box-shadow:
      1px 1px   0 rgba(0,   0,   0,   0.100),
      2px 1px   0 hsla(44,51%,98%,1),
      3px 1px   0 rgba(0,   0,   0,   0.125),
      4px 1px   0 hsla(44,51%,98%,1),
      5px 2px   0 rgba(0,   0,   0,   0.125);
  }
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 60px;
  width: 740px;
  margin: 0 auto;
  .side {
    display: flex;
    flex-direction: row;
    &:first-child {
      margin-bottom: 5px;
    }
  }
}

.click {
  cursor: pointer;
}


.dot {
  margin: 0 5px;
  height: 20px;
  width: 30px;
  border-radius: 2px;
  border-radius-bottom-left: 0;
  border-radius-bottom-right: 0;
  &.red {
    background: red;
  }
  &.black {
    background: black;
  }
  &.white {
    border: 1px dashed #212121;
    border-bottom: 0;
  }
}



.button {
  cursor: pointer;
  height: 40px;
  padding: 0 10px;
  margin: 0 10px;
  background: brown;
  border-radius: 5px;
  color: #fff;
}
